.container{
    background-color: lightgray;
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 80px;
    color:rgb(0, 59, 59);
}
.imagerow{
    background-color: violet;
    min-height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.rowcolor1{
    background-color: skyblue;
}
.rowcolor2{
    background-color: lightpink;
}
.rowcolor3{
    background-color: seashell;
}


.imagecontainer{
    background-color: white;
    height: 240px;
    width: 240px;
}
.imagecontainer img {
    height: 240px;
    width: 240px;
}